<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>verifyAdmin</servlet-name>
        <servlet-class>login_ad.verifyAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>login_ad.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccode</servlet-name>
        <servlet-class>pack.ccode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>pack.form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>pack.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>pack.state</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>city</servlet-name>
        <servlet-class>pack.city</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>pack.user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewuser</servlet-name>
        <servlet-class>pack.viewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateuser</servlet-name>
        <servlet-class>pack.updateuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edituser</servlet-name>
        <servlet-class>pack.edituser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteuser</servlet-name>
        <servlet-class>pack.deleteuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changestatus</servlet-name>
        <servlet-class>pack.changestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upduser</servlet-name>
        <servlet-class>pack.upduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>pack.message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletemsg</servlet-name>
        <servlet-class>pack.deletemsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delmsg</servlet-name>
        <servlet-class>pack.delmsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>pack.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pass</servlet-name>
        <servlet-class>pack.pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>pack.changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>pack.view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>pack.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifyAdmin</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
        <filter>
            <filter-name>noCacheFilter</filter-name>
            <filter-class>com.example.NoCacheFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>noCacheFilter</filter-name>
            <url-pattern>*.jsp</url-pattern>
        </filter-mapping>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccode</servlet-name>
        <url-pattern>/ccode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>city</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewuser</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateuser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edituser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteuser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changestatus</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upduser</servlet-name>
        <url-pattern>/upduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletemsg</servlet-name>
        <url-pattern>/deletemsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delmsg</servlet-name>
        <url-pattern>/delmsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pass</servlet-name>
        <url-pattern>/pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>logAdmin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
